<!doctype html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="col-4"></div>
<div class="col-4">
    <div class="card">
        <div class="card-body">
            <p class="card-text">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="text-center border-bottom mb-3">Регистрация</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group text-center">
                    <button class="btn btn-outline-dark" type="submit">Зарегистрироваться</button>
                </div>
                <div class="border-top text-center">
                    <small class="text-muted">
                        Уже есть аккаунт? <a class="ml-1" href="{% url 'login' %}">Войти</a>
                    </small>
                </div>
            </form>
            </p>
        </div>
    </div>
</div>
<div class="col-4"></div>

{% endblock content %}


