DJANGO_SECRET_KEY = DJANGO_SECRET_KEY
DEBUG_MODE = False (или True, если хотите включить режим дебагга)

DB_NAME = Название базы данных
PG_USER = Пользователь базы данных
PG_PASSWORD = Пароль базы данных
ip=localhost

EMAIL_HOST = SMTP сервер
EMAIL_HOST_USER = Имейл для восстановления пароля
EMAIL_HOST_PASSWORD = Пароль к имейлу