{% load static %}
<!doctype html>
<html lang="ru">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Join | V.it</title>

    <!-- Bootstrap core CSS -->
    <link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="http://127.0.0.1:8000/">V.it</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Войти</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/join">Регистрация
                <span class="sr-only">(current)</span>
			  </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contacts">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="mt-5"></h2>

            <!-- Registation form-->
            <div class="container col-lg-3">
              <form>
              <fieldset>
                <legend><p class="lead">Формочка регистрации</p></legend>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите email">
                  <small id="emailHelp" class="form-text text-muted">Мы не передаем ваши данные третьим лицам</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Пароль</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль">
                  <small id="emailHelp" class="form-text text-muted">Пароль должен содержать больше 8 символов</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Введите пароль еще раз</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль">
                  <small id="emailHelp" class="form-text text-muted">Пароль должен содержать больше 8 символов</small>
                </div>
                <div class="form-group">
                  <label for="exampleTextarea">Example text area</label>
                  <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>
                <fieldset class="form-group">
                  <legend><h5>Рассматриваем вакансии без указания заработной платы?</h5></legend>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                      Рассматриваю
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                      Не рассматриваю
                    </label>
                  </div>
                </fieldset>
                <fieldset class="form-group">
                <legend>Ожидаемая зп</legend>
                <label for="customRange1">50000</label>
                  <input type="range" class="custom-range" id="customRange1">
                </fieldset>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{%static 'jquery/jquery.slim.min.js' %}"></script>
    <script src="{%static 'js/bootstrap.bundle.min.js'%}"></script>

  </body>

</html>
