<!doctype html>
{% extends 'base.html' %}
{% block content %}

<div class="col">
    <div class="card bg-light mb-4" style="max-width: 20rem;">
        <div class="card-header">Резюме и ...</div>
        <div class="card-body">
            <h5 class="card-title">
                <ul class="list">
                    <li class="list-item"><h5>Составляем резюме для ИТ-специалиста, инструкция от hh.ru</h5><a
                            class="btn btn-secondary btn-m" href="https://hh.ru/article/301506"
                            target="_blank"
                            rel="noopener noreferrer" role="button">Резюме от hh</a><br/>
                    </li>
                    <li class="list-item"><h5>Из юниоров в разработчики: получаем первую работу</h5><a
                            class="btn btn-secondary btn-m" href="https://m.habr.com/ru/post/308104/"
                            target="_blank"
                            rel="noopener noreferrer" role="button">Войти в АйТи</a><br/>
                    </li>
                    <li class="list-item"><h5>Ну и что-то более полезное.<br/>Курс по структурам данных и алгоритмы на курсере</h5><a
                            class="btn btn-secondary btn-m"
                            href="https://www.coursera.org/specializations/data-structures-algorithms"
                            target="_blank"
                            rel="noopener noreferrer" role="button">Алгоритмы</a><br/>
                    </li>
                </ul>
            </h5>
        </div>
    </div>
</div>
<div class="col-6">
    <div class="jumbotron mt-auto">
        <h3 class="display-5">Hello, world!</h3>
        <p class="lead">Этот сайт поможет Вам V.it в айти.</p>
        <p>Пройдите регистрацию, введите стек с которым вы успели уже поработать и получите самые свежие Python-вакансии
            с сайта <a href="hh.ru">hh.ru</a>.</p>
        <hr class="my-4">
        <p>Авторская система рекомендаций, найдёт для вас похожие вакансии. Выставляйте оценки и увеливайте точность
            подбора вакансий.</p>
        <p class="text-muted">Ближайшие обновления:<br/> - тг-бот для моментального оповещания о новых вакансиях;<br/>
            - поиск вакансий на других платформах.</p>
        <p class="lead">
            <a class="btn btn-secondary btn-lg" href="{% url 'join' %}" role="button">Регистрация</a>
        </p>
    </div>
</div>
<div class="col">
    <div class="card bg-light mb-4" style="max-width: 20rem;">
        <div class="card-header">Полезная информация</div>
        <div class="card-body">
            <h5 class="card-title">
                <ul class="list">
                    <li class="list-item"><h5>Статья на хабре про переход в IT из других отраслей</h5><a
                            class="btn btn-secondary btn-m" href="https://habr.com/ru/post/479352/"
                            target="_blank"
                            rel="noopener noreferrer" role="button">Войти в IT</a><br/>
                    </li>
                    <li class="list-item"><h5>Статья на хабре про вайтишников в целом</h5><a
                            class="btn btn-secondary btn-m" href="https://habr.com/ru/post/306880/"
                            target="_blank"
                            rel="noopener noreferrer" role="button">Войти в АйТи</a><br/>
                    </li>
                    <li class="list-item"><h5>Ну и что-то более полезное.<br/>Курс по CS от Гарварда</h5><a
                            class="btn btn-secondary btn-m"
                            href="https://www.edx.org/course/cs50s-introduction-to-computer-science"
                            target="_blank"
                            rel="noopener noreferrer" role="button">CS50</a><br/>
                    </li>
                </ul>
            </h5>
        </div>
    </div>

    <div class="embed-responsive embed-responsive-16by9">
        <iframe id="cartoonVideo" class="embed-responsive-item" width="560" height="315"
                src="//www.youtube.com/embed/-FZg0C84i-c" allowfullscreen></iframe>
    </div>
</div>


{% endblock content %}
