<!doctype html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="col"></div>
<div class="col">
    <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="text-center border-bottom mb-3">Смена пароля</legend>
        {{ form|crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-dark" type="submit">Сменить пароль</button>
    </div>
    </form>
</div>
<div class="col"></div>

{% endblock content %}