<!doctype html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="col">
    <!-- Left block with user's info -->
    <h5>Ваши данные:</h5>
    <p>Email - {{ user.email }}</p>
    <p>Город поиска - {{ user.area }}</p>
    <p>Примерный уровень зп - {{ user.salary }}</p>
    <p>Опыт работы - {{ user.experience }}</p>
    <p><a href="{% url 'edit_profile' %}">Изменить данные</a></p>
</div>
<div class="col">
  <!-- Middle block with list of vacancies -->
  <div class="form-group">
      <h4>Вакансии по вашему запросу:</h4>
      {% for vacancy in page_obj %}
          <p>{{forloop.counter}}. {{ vacancy.name }} <a href="{{ vacancy.url }}" target="_blank" rel="noopener noreferrer">{{ vacancy.url }}</a></p>
      {% empty %}
          <p>Скоро тут будет список вакансий для Вас!</p>
      {% endfor %}

      <!-- Pagination -->
      {% if page_obj.paginator.num_pages > 1 %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-dark mb-4" href="?page=1">&laquo;</a>
                    <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.previous_page_number }}">&larr;</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                <a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
                {% endfor %}
        
                {% if page_obj.has_next %}
                    <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.next_page_number }}">&rarr;</a>
                    <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                {% endif %}
            </span>
        </div>
      {% endif %}
  </div>
</div>
<div class="col">
    <!-- Right block with recommended vacancies -->
    <h4>Рекомендованные вакансии:</h4>
    {% for vacancy in recommended_vacancies %}
        <p>{{forloop.counter}}. {{ vacancy.name }} <a href="{{ vacancy.url }}" target="_blank" rel="noopener noreferrer">{{ vacancy.url }}</a></p>
    {% empty %}
        <p>Скоро тут будет список вакансий, рекомендованный специально для Вас!</p>
    {% endfor %}

</div>

{% endblock content %}
