<!doctype html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="col">
    <!-- Left block with user's info -->
    <h5>Ваши данные:</h5>
    <p>Email - {{ user.email }}</p>
    <p>Город поиска - {{ user.area }}</p>
    <p>Примерный уровень зп - {{ user.salary }}</p>
    <p>Опыт работы - {{ user.experience }}</p>
    <p><a href="{% url 'edit_profile' %}">Изменить данные</a></p>
</div>
<div class="col">
    <!-- Middle block with list of vacancies -->
    <div class="form-group">
        <h4>Вакансии по вашему запросу:</h4>
        {% for vacancy in vacancies_list %}
            {% if forloop.counter <= 5 %}
                <p>{{forloop.counter}}. {{ vacancy.name }} <a href="{{ vacancy.url }}" target="_blank" rel="noopener noreferrer">{{ vacancy.url }}</a></p>
            {% endif %}
        {% empty %}
            <p>Скоро тут будет список вакансий для Вас!</p>
        {% endfor %}
    </div>
</div>
<div class="col"></div>

{% endblock content %}
